{% frame with { id: 'api', color: 'dark', center: true, indent: true, title: 'Do you already know the Sitepackage Builder API?' } %}
    <p>
        Instead of using the website, you can also create your Sitepackage using
        the <a href="{{ path('app.swagger_ui') }}#operations-tag-sitepackage">API</a>.
    </p>
{% endframe %}
{% frame with { id: 'privacy', color: 'light', center: true, indent: true, title: 'We respect your Privacy!' } %}
    <p>
        We are not storing, sharing or doing any other crazy stuff with the
        data you provide to generate your very own Sitepackage. Simple as
        that, check the <a class="" href="https://github.com/TYPO3/get.typo3.org" target="_blank" rel="noopener">sources</a>.
    </p>
{% endframe %}
