.ddev/commands/
.idea/
.vscode/
*.cache
missing-downloads.yaml
!/bin/
/bin/*
!/bin/console

###> symfony/framework-bundle ###
.env*.local
/public/bundles/
/var/
/vendor/
/Build/MdConverter/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
