parameters:
	level: max
	treatPhpDocTypesAsCertain: false

	bootstrapFiles:
		- tools/phpunit/vendor/autoload.php

	paths:
		- config/
		- migrations/
		- public/
		- src/
		- tests/

	stubFiles:
		- stubs/MenuBuilder.stub
