parameters:
	level: max
	treatPhpDocTypesAsCertain: false

	paths:
		- %currentWorkingDirectory%/config/
		- %currentWorkingDirectory%/migrations/
		- %currentWorkingDirectory%/public/
		- %currentWorkingDirectory%/src/
		#- %currentWorkingDirectory%/tests/

	stubFiles:
		- stubs/MenuBuilder.stub
