parameters:
	level: max
	treatPhpDocTypesAsCertain: false

	bootstrapFiles:
		- %currentWorkingDirectory%/vendor/bin/.phpunit/phpunit/vendor/autoload.php

	paths:
		- %currentWorkingDirectory%/config/
		- %currentWorkingDirectory%/migrations/
		- %currentWorkingDirectory%/public/
		- %currentWorkingDirectory%/src/
		- %currentWorkingDirectory%/tests/

	stubFiles:
		- stubs/MenuBuilder.stub
