parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$latest_stable\\.$#"
			count: 1
			path: src/Controller/DefaultController.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 1
			path: src/Controller/DefaultController.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 2
			path: src/Controller/DefaultController.php

