<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="\.(js|ico|gif|jpg|jpeg|png|css|pdf|woff|ttf|eot|svg)$" negate="true" />
                    <action type="Rewrite" url="www/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
