.b_keyvisual__image {
    width: 100%;
    max-height: max-content;
    padding: 0;
}

.b_keyvisual {
    padding: 0;
    position: relative;
}

.b_keyvisual__info {
    position: absolute;
    background: rgba(255,255,255,0.5);
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.b_container {
    padding-top: 2.188rem;
    padding-bottom: 2.188rem;
}

.b_container__download-version {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.b_download__label {
    padding-top: 2px;
}
.b_container--grey {
    background-color: #f4f4f4;
}

.b_container--slim {
    padding-top: 24px;
    padding-bottom: 24px;
}

.b_container--downloads {
    margin-bottom: 50px;
}

.b_download__form-group {
    display: flex;
}

.b_download__form-group button {
    margin: 0;
}

.b_download__label {
    margin-right: 30px;
}

.b_download__select {
    width: 450px;
    margin-right: 30px;
}

.b_container__release {
    margin-top: 0;
}

.b_headline {
    padding-bottom: 50px;
}

.b_version__icon {
    min-width: 66px;
    height: 66px;
    background: #656565;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b_text__col:first-child {
    padding-bottom: 50px;
}

.b_version__icon-text {
    color: #fff;
    margin: 0;
    line-height: 22px;
}

.b_flex {
    display: flex;
    padding-left: 15px !important;
    margin-bottom: 55px;
}

.b_text__col {
    padding-left: 0;
}

.b_try__image {
    padding-bottom: 15px;
}

.b_link {
    display: flex;
    align-items: center;
}

.b_link:hover {
    text-decoration: none;
}

.b_try__vendor {
    margin-bottom: 50px;
}

.b_icon--link {
    padding-right: 2px;
}

.b_form--version {
    padding: 30px 0;
}

.b_form__group {
    position: relative;
}

.b_form__select {
    width: 66%;
}

.b_link-list {
    display: flex;
}

.b_link-list .b_link {
    margin-right: 30px;
}

.b_btn--form {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.b_accordion-header {
    margin-bottom: 0;
}

.b_accordion-item {
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.b_accordion-header-wrap {
    position: relative;
}

.b_accordion-header-wrap:hover {
cursor: pointer;
}

.b_icon--accordion {
    position: absolute;
    right: 0;
    top: 22px;
    color: #ff8700;
}

.b_icon--accordion-close {
    display: none;
}

.b_icon--accordion:hover {
    cursor: pointer;
}

.b_icon--accordion-close {
    display: none !important;
}

.b_accordion-header-open .b_icon--accordion-open {
    display: none !important;
}

.b_accordion-header-open .b_icon--accordion-close {
    display: block !important;
}

.b_accordion__content {
    padding-top: 15px;
}

.b_table {
    margin-bottom: 30px;
}

.b_headline-table {
    padding-bottom: 20px;
}

td  {
    border: 0 !important;
}

th {
    padding-left: 0 !important;
    width: 200px;
    border: 0 !important;
}


@media screen and (min-width: 768px) {
    .b_try__vendor {
        margin-bottom: 0;
    }
    .b_flex {
        margin-bottom: 0;
    }
    .b_keyvisual__info {
        left: 75px;
        bottom: 75px;
        max-width: 600px;
    }
    .b_container__download-version {
        flex-direction: row;
    }
}


/*
ter
 */


span.ter-ext-state-stable {
    color: #3db900;
}
span.ter-ext-state-beta {
    color: #f4bd00;
}
span.ter-ext-state-alpha {
    color: #f14400;
}
span.ter-ext-state-expiremental {
    color: #000000;
}

.card {
    padding: 0;
}

/*
 * Solr results
 */

.tx-solr-faceting .facet-area-main {
    width: 100%;
}

.tx-solr .results-list {
    padding-left: 0;
}

.tx-solr .results-entry {
    font-weight: normal;
}


/*
 * Solr search form
 */

.input-group .form-control {
    z-index: 0;
}

.input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
    z-index: 0;
}


