<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<xliff version="1.0">
    <file source-language="en" datatype="plaintext" original="messages" date="{{ 'now'|date('Y-m-d\TH:i:s\Z', 'UTC') }}">
        <header>
            <authorName>{{ package.author.name }}</authorName>
            <authorEmail>{{ package.author.email }}</authorEmail>
        </header>
        <body>
            <trans-unit id="backend_layout.example">
                <source>Example</source>
            </trans-unit>
            <trans-unit id="backend_layout.column.normal">
                <source>Normal</source>
            </trans-unit>
        </body>
    </file>
</xliff>
