{% extends "Layouts/layout.html.twig" %}

{% block content %}

    <div class="container-fluid b_keyvisual">
        <img src="{{ path('root') }}assets/Gett3o/Assets/keyvisual_image.png" alt="" class="b_keyvisual__image">
        <div class="b_keyvisual__info">
            <h1>TYPO3 7 LTS</h1>
            <h3>The old stable LTS release (for existing projects)</h3>
        </div>
    </div>

    <div class="container-fluid b_container b_container--grey b_container--slim">
        <div class="container b_container__download-version">
            <form class="" action="">
                <div class="form-group row">
                    <label>
                        <strong>Go to another version:</strong>
                    </label>
                    <div class="col-sm-4">
                        <select class="form-control b_form__select"
                                onchange="if (this.value) window.location.href= '{{ path('root') }}version/' + this.value;">
                            <option value="9">TYPO3 v9</option>
                            <option value="8">TYPO3 v8</option>
                            <option value="7" selected>TYPO3 v7</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid b_container">
        <div class="container b_container--downloads">
            <div class="col-md-12 b_text__col">
                <h2 class="b_headline">Downloads</h2>
                <p class="col-md-7">The old stable version with Long Term Support (LTS). It will have full support until April 2017 and
                    security bugfixes until November 2018.</p>
                <div class="b_link-list">
                    <a href="{{ path('release-notes-for-version', {'folder': '7.x', 'version': '7.6.23'}) }}" class="b_link"><i class="material-icons b_icon--link">keyboard_arrow_right</i>Release
                        Notes</a>
                    <a href="https://docs.typo3.org/typo3cms/InstallationGuide/7.6/" class="b_link"><i class="material-icons b_icon--link">keyboard_arrow_right</i>Installation
                        Guide</a>
                    <a href="https://docs.typo3.org/typo3cms/GettingStartedTutorial/7.6/" class="b_link"><i class="material-icons b_icon--link">keyboard_arrow_right</i>Getting
                        started</a>
                    <a href="https://typo3.azureedge.net/typo3/7.6.23/README.md" class="b_link"><i
                                class="material-icons b_icon--link">keyboard_arrow_right</i>Download README (incl.
                        signatures)</a>
                </div>
            </div>

            <div id="exampleAccordion" data-children=".item">
                <div class="item b_accordion-item">
                    <div class="b_accordion-header-wrap" data-toggle="collapse"
                         data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true"
                         aria-controls="exampleAccordion1">
                        <p class="b_accordion-header">
                            <strong>Set up a new project via composer</strong>
                        </p>
                        <i class="material-icons b_icon--accordion b_icon--accordion-open">add_circle</i>
                        <i class="material-icons b_icon--accordion b_icon--accordion-close">remove_circle</i>
                    </div>
                    <div id="exampleAccordion1" class="collapse" role="tabpanel">
                        <p class="mb-3 b_accordion__content">
                            <pre>composer create-project typo3/cms-base-distribution my-new-project 7.6</pre>
                        </p>
                    </div>
                </div>
                <div class="item b_accordion-item" data-toggle="collapse" data-parent="#exampleAccordion"
                     href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
                    <div class="b_accordion-header-wrap">
                        <p class="b_accordion-header">
                            <strong>Download via wget/curl</strong>
                        </p>
                        <p class="b_accordion-header"></p>
                        <i class="material-icons b_icon--accordion b_icon--accordion-open">add_circle</i>
                        <i class="material-icons b_icon--accordion b_icon--accordion-close">remove_circle</i>
                    </div>
                    <div id="exampleAccordion2" class="collapse" role="tabpanel">
                        <p class="mb-3 b_accordion__content">
                            <pre>
# Using wget
wget --content-disposition get.typo3.org/7

# Using cURL (e.g., when wget fails with SSL error)
curl -L -o typo3_src.tgz get.typo3.org/7
                            </pre>
                            In case you are encountering SSL warnings (host name mismatch), please make sure that you are
                            using a client that supports Server Name Indication (SNI). This especially affects old versions
                            of wget (before version 1.14).
                        </p>
                    </div>
                </div>
                <div class="item b_accordion-item" data-toggle="collapse" data-parent="#exampleAccordion"
                     href="#exampleAccordion3" aria-expanded="false" aria-controls="exampleAccordion3">
                    <div class="b_accordion-header-wrap">
                        <p class="b_accordion-header">
                            <strong>Download from Source (GIT)</strong>
                        </p>
                        <p class="b_accordion-header"></p>
                        <i class="material-icons b_icon--accordion b_icon--accordion-open">add_circle</i>
                        <i class="material-icons b_icon--accordion b_icon--accordion-close">remove_circle</i>
                    </div>
                    <div id="exampleAccordion3" class="collapse" role="tabpanel">
                        <p class="mb-3 b_accordion__content">
                        <pre>git clone https://github.com/typo3/TYPO3.cms</pre>
                        </p>
                    </div>
                </div>
                <div class="item b_accordion-item" data-toggle="collapse" data-parent="#exampleAccordion"
                     href="#exampleAccordion4" aria-expanded="false" aria-controls="exampleAccordion4">
                    <div class="b_accordion-header-wrap">
                        <p class="b_accordion-header">
                            <strong>Package Download (tar.gz / zip file)</strong>
                        </p>
                        <i class="material-icons b_icon--accordion b_icon--accordion-open">add_circle</i>
                        <i class="material-icons b_icon--accordion b_icon--accordion-close">remove_circle</i>
                    </div>
                    <div id="exampleAccordion4" class="collapse" role="tabpanel">
                        <p class="mb-3 b_accordion__content">
                            <a href="https://get.typo3.org/7">https://get.typo3.org/7</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid b_container b_container--grey">
            <div class="container">
                <div class="col-md-7 b_text__col ">
                    <h2 class="b_headline">System Requirements</h2>
                    <h4 class="b_headline-table">Server</h4>
                    <table class="table b_table">
                        <tbody>
                        <tr>
                            <th scope="row">Operating System</th>
                            <td>Unix (e.g. Linux), Windows or Mac</td>
                        </tr>
                        <tr>
                            <th scope="row">Webserver</th>
                            <td>Apache (recommended), IIS, NGINX</td>
                        </tr>
                        <tr>
                            <th scope="row">Middleware</th>
                            <td>PHP Version > 5.5 < 7.2</td>
                        </tr>
                        <tr>
                            <th scope="row">Database</th>
                            <td>MySQL Version > 5.5 < 5.7</td>
                        </tr>
                        <tr>
                            <th scope="row">Hardware</th>
                            <td>at least 256 MB of RAM</td>
                        </tr>
                        <tr>
                            <th scope="row">Recommended</th>
                            <td>GraphicsMagick (standalone) or ImageMagick
                                GDlib/Freetype (compiled with PHP)
                                zlib (compiled with PHP)
                                Apache with mod_gzip/mod_deflate/mod_rewrite
                                A PHP-Cache (e.g. APCu / PHP-Accelerator / OPcache
                                / Zend Accelerator, UNIX/Linux only)
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h4 class="b_headline-table">Client</h4>
                    <table class="table b_table">
                        <tbody>
                        <tr>
                            <th scope="row">Required</th>
                            <td>Any graphical browser on any operating system</td>
                        </tr>
                        <tr>
                            <th scope="row">Recommended</th>
                            <td>Google Chrome (latest), Mozilla Firefox (latest), Apple Safari
                                (latest), Microsoft Edge, Microsoft Internet Explorer 11+
                                (support for IE 9 and IE10 is available for TYPO3 v7 LTS and
                                below)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid b_container">
        <div class="container">
            <div class="col-md-12 b_text__col">
                <h2 class="b_headline">Package Signatures - Verifying integrity of releases</h2>
                <p>
                    TYPO3 Release Packages (the downloadable tarballs and zip files) as well as Git tags are signed
                    using PGP signatures during the automated release process. Besides that, MD5 and SHA2-256 hashes are
                    being generated for these files. Find more details on verifying signatures and hashes in the
                    <a href="https://docs.typo3.org/typo3cms/drafts/github/TYPO3Incubator/InfrastructureGuide/Releases/">infrastructure guide</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid b_container">
        <div class="container">
            <div class="col-md-7 b_text__col">
                <h2 class="b_headline">API</h2>
                <br>
                <h5>TYPO3 CMS - tar.gz</h5>
                <a href="https://get.typo3.org/7" class="b_link"><i class="material-icons b_icon--link">file_download</i>get.typo3.org/7</a>
                <br>
                <h5>TYPO3 CMS - zip</h5>
                <a href="https://get.typo3.org/7/zip" class="b_link"><i
                            class="material-icons b_icon--link">file_download</i>get.typo3.org/7/zip</a>
                <br>
                <h5>JSON files</h5>
                <a href="https://get.typo3.org/json" class="b_link"><i
                            class="material-icons b_icon--link">file_download</i>get.typo3.org/json</a>
                <br>
            </div>
        </div>
    </div>

{% endblock %}
