<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
  colors="true"
  failOnRisky="true"
  processIsolation="false"
  bootstrap="../bootstrap.php"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Functional Test Suite">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="../../var/log/junit-functional.xml"/>
  </logging>
</phpunit>
