<ul>
    <f:for each="{mainnavigation}" as="mainnavigationItem">
        <li class="{f:if(condition: mainnavigationItem.active, then:'active')}">
            <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                {mainnavigationItem.title}
            </a>
            <f:if condition="{mainnavigationItem.children}">
                <ul>
                    <f:for each="{mainnavigationItem.children}" as="child">
                        <li class="{f:if(condition: child.active, then:'active')}">
                            <a href="{child.link}" target="{child.target}" title="{child.title}">
                                {child.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </li>
    </f:for>
</ul>
<f:render section="Main" />
