{% extends "layout.html.twig" %}
{% block title %}Composer{% endblock %}
{% block content %}

    {% include 'default/partials/general/key-visual.html.twig' with {
        'title': 'Composer',
        'subtitle': '',
        'small': '1'
    } only %}

    <div class="frame frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
        <div class="frame-container">
            <div class="frame-inner">
                <h2>TYPO3 Extension Composer Repository</h2>
            </div>
        </div>
    </div>

{% endblock %}
