{% extends 'layout.html.twig' %}
{% block title %}Download TYPO3 ELTS {{ release.version }}{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>ELTS version requested</h1>
        <p class="lead">The version you requested is only available as an Extended Long Term Support (ELTS) version.</p>
    {% endframe %}

    {% frame with { color: 'light' } %}
        <h1 class="h2">How to get access to an ELTS version?</h1>
        <p>You can buy an ELTS license, for more information please visit:</p>
        <ul class="list-link">
            <li>
                <a href="https://typo3.com/elts">https://typo3.com/elts</a>
            </li>
            <li>
                <a href="https://elts.typo3.com">https://elts.typo3.com</a>
            </li>
        </ul>
    {% endframe %}

{% endblock %}
