{% extends "layout.html.twig" %}

{% block content %}

    {% include 'default/partials/key-visual.html.twig' with {'title': title, 'subtitle': subtitle, 'small': '1'} %}
    {% include 'default/partials/version-selector.twig' %}
    <div class="container b_container b_container--large">
        <h2>List of Releases for TYPO3 v{{ version }}</h2>
        <table>
            <tr>
                <th>
                    Version
                </th>
                <th>
                    Date
                </th>
                <th>
                    Type
                </th>
            </tr>
            {% for release in releases|sortByVersion %}
                {% if release.type == "security" %}
                    <tr style="background:#ffd8e4;">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ release.version }}</td>
                <td>{{ release.date | date("d.m.Y") }}</td>
                <td>{{ release.type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
