{% extends "layout.html.twig" %}
{% block title %}TYPO3 {{ current.version }} Release Notes{% endblock %}
{% block content %}

    {% include 'default/partials/key-visual.html.twig' with {'title': 'Release Notes', 'subtitle': 'TYPO3 ' ~ current.version, 'small': '1'} %}

    <div class="frame frame-small frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
        <div class="frame-container">
            <div class="frame-inner">
                <form action="">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">{{ title }}</span>
                        </div>
                        <select class="form-control custom-select"
                            onchange="if (this.value) window.location.href= '{{ path('root') }}version/' + this.value;">
                            <option>Choose a different version</option>
                            <option value="10">TYPO3 v10</option>
                            <option value="9">TYPO3 v9</option>
                            <option value="8">TYPO3 v8</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if current.releaseNotes.legacyContent %}
        <div class="container b_container b_container--large">
            {{ current.releaseNotes.legacyContent|escape('html')|parsedown|changehighlighter|raw }}
        </div>
        {% include 'default/partials/release-notes/signatures.twig' %}
    {% else %}
        {% include 'default/partials/release-notes/introduction.twig' %}
        {% include 'default/partials/release-notes/news.twig' %}
        {% include 'default/partials/release-notes/checksums.twig' %}
        {% include 'default/partials/release-notes/signatures.twig' %}
        {% include 'default/partials/release-notes/upgrading.twig' %}
        {% include 'default/partials/release-notes/changes.twig' %}
    {% endif %}

{% endblock %}
