{% extends "layout.html.twig" %}
{% block title %}TYPO3 {{ current.version }} Release Notes{% endblock %}
{% block content %}

    {% include 'default/partials/general/key-visual.html.twig' with {
        'title': 'Release Notes',
        'subtitle': 'TYPO3 ' ~ current.version,
        'small': '1'
    } only %}
    {% include 'default/partials/release-notes/version-selector.twig' %}

    {% if current.releaseNotes.legacyContent %}
        <div class="frame frame-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
            <div class="frame-container">
                <div class="frame-inner">
                    {{ current.releaseNotes.legacyContent|escape('html')|parsedown|changehighlighter|raw }}
                </div>
            </div>
        </div>
        {% include 'default/partials/release-notes/signatures.twig' %}
    {% else %}
        {% include 'default/partials/release-notes/introduction.twig' %}
        {% include 'default/partials/release-notes/news.twig' %}
        {% include 'default/partials/release-notes/checksums.twig' %}
        {% include 'default/partials/release-notes/signatures.twig' %}
        {% include 'default/partials/release-notes/upgrading.twig' %}
        {% include 'default/partials/release-notes/changes.twig' %}
    {% endif %}

{% endblock %}
