<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://extensions.typo3.org/typo3conf/ext/t3olayout/Resources/Public/Css/main.min.css">
    <link rel="stylesheet" href="{{ path('root') }}assets/Css/download.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Download TYPO3</title>
</head>
<body>
<div class="page-container mx-auto">
    <header class="container-fluid main-header">
        <div class="row clearfix main-header__top">
            <div class="col-12 pull-right">
                <ul class="navbar-nav main-nav__list main-nav__meta-nav">
                    <li class="main-nav__meta-nav_item">
                        <a href="https://extensions.typo3.org">
                            <img class="main-nav__meta-nav_item-icon img-fluid" src="{{ path('root') }}assets/Icons/TYPO3_extension.svg" width="64" height="53" alt="">
                            Extensions
                        </a>
                    </li>

                    <li class="main-nav__meta-nav_item">
                        <a href="http://demo.typo3.org">
                            <img class="main-nav__meta-nav_item-icon img-fluid" src="{{ path('root') }}assets/Icons/TYPO3_demo.svg" width="54" height="54" alt="">
                            Demo
                        </a>
                    </li>
                    <li class="main-nav__meta-nav_item">
                        <a href="https://docs.typo3.org/">
                            <img class="main-nav__meta-nav_item-icon img-fluid" src="{{ path('root') }}assets/Icons/TYPO3_doku.svg" width="55" height="54" alt="">
                            Documentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-header__bottom">
            <div class="logo"><a href="/" title="Go to the start page" target="_top" class="logoLink" id="headerLogo"><img src="https://extensions.typo3.org/typo3conf/ext/t3olayout/Resources/Public/Images/Template/typo3_nomargins.svg" alt="TYPO3 Logo" title="Go to the start page"></a></div>
            <div class="main-nav">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler ml-auto main-nav__burger js__main-nav__burger">
                        <span class="main-nav__burger-element"></span>
                    </button>
                    <div class="main-nav__collapse js__main-nav__collapse">
                        <div class="navbar-collapse main-nav__collapse-inner">
                            <ul class="navbar-nav main-nav__list w-100">
                                <li class="main-nav__list-item js__main-nav__list-item">
                                    <a href="https://typo3.org/about/" class="main-nav__list-item_link js__main-nav__list-item_link">
                                        <span>About</span>
                                    </a>
                                </li>
                                <li class="main-nav__list-item js__main-nav__list-item">
                                    <a href="https://typo3.org/typo3-cms/" class="main-nav__list-item_link js__main-nav__list-item_link">
                                        <span>TYPO3 CMS</span>
                                    </a>
                                </li>
                                <li class="main-nav__list-item js__main-nav__list-item">
                                    <a href="https://typo3.org/support/" class="main-nav__list-item_link js__main-nav__list-item_link">
                                        <span>Support</span>
                                    </a>
                                </li>
                                <li class="main-nav__list-item js__main-nav__list-item">
                                    <a href="https://typo3.org/community/" class="main-nav__list-item_link js__main-nav__list-item_link">
                                        <span>Community</span>
                                    </a>
                                </li>
                                <li class="main-nav__list-item js__main-nav__list-item">
                                    <a href="https://typo3.org/association/" class="main-nav__list-item_link js__main-nav__list-item_link">
                                        <span>Community</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    {% block content "" %}

    <footer class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <img src="https://extensions.typo3.org/typo3conf/ext/t3olayout/Resources/Public/Images/Template/typo3_nomargins.svg">
                    </div>
                    <div class="socialButtons">
                        <a class="fa fa-facebook" href="https://www.facebook.com/typo3/?fref=ts" aria-hidden="true"></a>
                        <a class="fa fa-twitter" href="https://twitter.com/typo3" aria-hidden="true"></a>
                        <a class="fa fa-google-plus" href="https://plus.google.com/+typo3" aria-hidden="true"></a>
                        <a class="fa fa-youtube-play" href="https://www.youtube.com/user/typo3" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="container footerNavigation">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <section class="container"><a id="c29"></a><header><h2 class="">Popular links
                                </h2></header><p><a href="https://extensions.typo3.org/">Extension list</a><br><a href="https://typo3.org/legal-info/">Legal info</a></p></section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>