{% if current.releaseNotes.changes %}
    {% frame %}
        <h2>Changes</h2>
        <div class="changelog">
            {% if current.elts %}
                {{ current.releaseNotes.changes|removeWikiLink|escape('html')|parsedown|changehighlighter|raw }}
            {% else %}
                {{ current.releaseNotes.changes|removeWikiLink|escape('html')|parsedown|changehighlighter|commitlinker|raw }}
            {% endif %}
        </div>
    {% endframe %}
{% endif %}
