{% if current.releaseNotes.changes %}
    {% frame with { id: 'changes', title: 'Changes' } %}
        <div class="changelog">
            {% if current.elts %}
                {{ current.releaseNotes.changes|removeWikiLink|escape('html')|parsedown|changehighlighter|raw }}
            {% else %}
                {{ current.releaseNotes.changes|removeWikiLink|escape('html')|parsedown|changehighlighter|commitlinker|raw }}
            {% endif %}
        </div>
    {% endframe %}
{% endif %}
