{% if current.releaseNotes.news or current.releaseNotes.newslink %}
    {% frame with { id: 'news', title: 'News' }%}
        {% if current.releaseNotes.news %}
            {{ current.releaseNotes.news|parsedown|raw }}
        {% endif %}
        {% if current.releaseNotes.newslink %}
            <a href="{{ current.releaseNotes.newslink }}" class="btn btn-primary">
                Read TYPO3 {{ current.version }} Release News
            </a>
        {% endif %}
    {% endframe %}
{% endif %}
