{% if current.releaseNotes.news or current.releaseNotes.newslink %}
<div class="frame frame-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">
            <h2>News</h2>
            {% if current.releaseNotes.news %}
                {{ current.releaseNotes.news|parsedown|raw }}
            {% endif %}
            {% if current.releaseNotes.newslink %}
                <a href="{{ current.releaseNotes.newslink }}" class="btn btn-primary">
                    Read TYPO3 v{{ current.version }} Release News
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
