<div class="frame frame-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">
            <h2>Package Signatures - Verifying integrity of releases</h2>
            <p>
                TYPO3 Release Packages (the downloadable tarballs and zip files) as well as Git tags are signed
                using PGP signatures since TYPO3 v7 during the automated release process. Besides that, MD5 and SHA2-256 hashes are
                being generated for these files. Find more details on verifying signatures and hashes in the
                <a href="https://docs.typo3.org/m/typo3/guide-installation/master/en-us/ReleaseIntegrity/Index.html">infrastructure guide</a>.
            </p>
        </div>
    </div>
</div>

{% include 'default/partials/release-notes/checksums.html.twig' %}
