{% frame with { id: 'release-information', title: 'Release Information' } %}
    <p>{{ description }}</p>
    <ul class="list-link">
        <li>
            <a href="{{ path('release-notes-for-version', {'version': current.version }) }}">Release Notes</a>
        </li>
        {% if current.version >= 7 and not current.elts %}
        <li>
            <a href="https://typo3.azureedge.net/typo3/{{ current.version }}/README.md">Download README (incl. signatures)</a>
        </li>
        {% endif %}
    </ul>
{% endframe %}
