{% frame with { id: 'system-requirements', color: 'light' } %}
    <h2>System Requirements</h2>
    <p>For more information as well as installation instructions see the <a href="https://docs.typo3.org/m/typo3/guide-installation/master/en-us/In-depth/SystemRequirements/Index.html" rel="noopener,noreferrer">Installation guide</a>.</p>
    <div class="card">
        <div class="datatable">
            <table class="datatable-table">
                <tbody>
                <tr>
                    <th scope="row">Operating System</th>
                    <td>Linux, Windows or Mac{% if version > 8 %}, or common cloud infrastructure setups{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Webserver</th>
                    <td>Apache httpd, Nginx, Microsoft IIS{% if version > 8 %}, Caddy Server{% endif %}</td>
                </tr>
                {% for category,element in requirements|prepareRequirements %}
                    <tr>
                        <th scope="row">
                            {% if (category == 'php') %}
                                PHP
                            {% elseif (category == 'client') %}
                                Supported Browsers
                            {% else %}
                                {{ category|title }}
                            {% endif %}
                        </th>
                        <td>
                            {% for entry in element %}
                                {{ entry.title }}
                                {% if entry.min %}
                                    >= {{ entry.min }}
                                    {% if (entry.name == 'ram') %}
                                        MB
                                    {% endif %}
                                {% else %}
                                    {% if (category == 'client') %}
                                        (latest)
                                    {% endif %}
                                {% endif %}
                                {% if entry.max %}
                                    <= {{ entry.max }}
                                {% endif %}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endframe %}
