.container {
    margin: 0 auto;
}

.container > *:last-child {
    margin-bottom: 0;
}

pre {
    padding: 1rem;
    background-color: rgba(0,0,0,0.05);
}

@media (min-width: 768px) {
    .page-container {
        padding-bottom: 74px;
    }
    .infoBannerBottom {
        height: 74px;
    }    
}

.infoBannerBottom p {
    font-size: 1rem;
    font-weight: lighter;
}
@media (max-width: 767px) {
    .infoBannerBottom {
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    .card-deck {
        flex-direction: column;
    }
    .card-deck .card:not(:last-child) {
        margin-bottom: 0.5rem
    }
}

.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
h1, 
h2, 
h3, 
h4, 
h5, 
 h6 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 991px) {
    .h1,
    h1 {
        font-size: 2rem;
    }
    .h2,
    h2 {
        font-size: 1.75em;
    }
    .h3,
    h3 {
        font-size: 1.5em;
    }
    .h4,
    h4 {
        font-size: 1.25em;
    }
}

.main-header .logo {
    padding-left: 0!important;
}

.b_keyvisual__image {
    width: 100%;
    min-height: 250px;
    max-height: max-content;
    object-fit: cover;
    padding: 0;
}

.b_keyvisual__image__small {
    width: 100%;
    height: 15rem;
    padding: 0;
    object-fit: cover;
}

.b_keyvisual {
    padding: 0;
    position: relative;
}

.b_keyvisual__info {
    position: absolute;
    background: rgba(255,255,255,0.75);
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
}
@media screen and (min-width: 768px) {
    .b_keyvisual__info {
        padding: 1.5rem;
    }
}

.b_keyvisual__info > *:last-child {
    margin-bottom: 0;
}

.b_keyvisual__info a {
    color: #333333;
    text-decoration: underline;
}

.b_container,
.b_container--default,
.b_container--slim,
.b_container--large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.b_container + .b_container,
.b_container--default + .b_container--default,
.b_container--slim + .b_container--slim,
.b_container--large + .b_container--large {
    margin-top: -1.5rem;
}

@media screen and (min-width: 768px) {
    .b_container--default,
    .b_container--large {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .b_container--default + .b_container--default,
    .b_container--large + .b_container--large {
        margin-top: -2rem!important;
    }
}

@media screen and (min-width: 992px) {
    .b_container--large {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .b_container--large + .b_container--large {
        margin-top: -3rem!important;
    }
}

@media screen and (min-width: 1260px) {
    .b_container--large {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .b_container--large + .b_container--large {
        margin-top: -4rem!important;
    }
}

.b_container p {
    margin-bottom: 1rem;
}

.b_container > *:last-child {
    margin-bottom: 0;
}

.b_container__download-version .form-group {
    margin-bottom: 0;
}

.b_download__label {
    padding-top: 2px;
}
.b_container--grey {
    background-color: #f4f4f4;
}

.b_container--downloads {
    margin-bottom: 50px;
}

.b_download__form-group {
    display: flex;
}

.b_download__form-group button {
    margin: 0;
}

.b_download__label {
    margin-right: 30px;
}

.b_download__select {
    width: 450px;
    margin-right: 30px;
}

.b_container__release {
    margin-top: 0;
}

.b_headline {
    padding-bottom: 50px;
}

.b_version__icon {
    min-width: 66px;
    height: 66px;
    background: #656565;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b_text__col:first-child {
    padding-bottom: 50px;
}

.b_version__icon-text {
    color: #fff;
    margin: 0;
    line-height: 22px;
}

.b_flex {
    display: flex;
    padding-left: 15px !important;
    margin-bottom: 55px;
}

.b_text__col {
    padding-left: 0;
}

.b_try__image {
    padding-bottom: 15px;
}

.b_link {
    display: flex;
    align-items: center;
}

.b_link:hover {
    text-decoration: none;
}

.b_try__vendor {
    margin-bottom: 50px;
}

.b_icon--link {
    padding-right: 2px;
}

.b_form--version {
    padding: 30px 0;
}

.b_form__group {
    position: relative;
}

.b_form__select {
    width: 66%;
}

.b_link-list {
    display: flex;
}

.b_link-list .b_link {
    margin-right: 30px;
}

.b_btn--form {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.b_accordion-header {
    margin-bottom: 0!important;
}

.b_accordion-item {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 15px 0;
}

.b_accordion-header-wrap {
    display: block;
    padding-right: 3rem;
    position: relative;
    color: inherit;
}

.b_accordion-header-wrap:focus,
.b_accordion-header-wrap:hover {
    text-decoration: none;
}

.b_icon--accordion {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #ff8700;
}

.b_icon--accordion-close {
    display: none;
}

.b_icon--accordion-open {
    display: none !important;
}

.b_icon--accordion-close {
    display: block !important;
}

.collapsed .b_icon--accordion-open {
    display: block !important;
}

.collapsed .b_icon--accordion-close {
    display: none !important;
}

.b_accordion__content {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.b_accordion__content > *:last-child {
    margin-bottom: 0;
}

.b_table {
    margin-bottom: 30px;
}

.b_headline-table {
    padding-bottom: 20px;
}

td  {
    border: 0 !important;
}

th {
    padding-left: 0 !important;
    width: 200px;
    border: 0 !important;
}


@media screen and (min-width: 768px) {
    .b_try__vendor {
        margin-bottom: 0;
    }
    .b_flex {
        margin-bottom: 0;
    }
    .b_keyvisual__info {
        left: 75px;
        bottom: 75px;
        max-width: 600px;
    }

    .b_keyvisual__small .b_keyvisual__info {
        left: 75px;
        bottom: 15px;
        max-width: 600px;
    }
}


/*
ter
 */


span.ter-ext-state-stable {
    color: #3db900;
}
span.ter-ext-state-beta {
    color: #f4bd00;
}
span.ter-ext-state-alpha {
    color: #f14400;
}
span.ter-ext-state-expiremental {
    color: #000000;
}

.card {
    padding: 0;
    height: auto;
}

.card-padding {
    padding: 0 1.25rem;
}

.card-padding .card-img-top {
    max-width: 50%;
    margin: 0 auto;
    padding-top: .75rem;
}

.card-padding .card-body {
    padding: .75rem 0;
}
.card-padding .card-footer {
    padding: .75rem 0;
}

.card-footer {
    background-color: initial;
}

.card .card-title {
    color: #333;
}

/*
 * Solr results
 */

.tx-solr-faceting .facet-area-main {
    width: 100%;
}

.tx-solr .results-list {
    padding-left: 0;
}

.tx-solr .results-entry {
    font-weight: normal;
}


/*
 * Solr search form
 */

.input-group .form-control {
    z-index: 0;
}

.input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
    z-index: 0;
}

code {
    color: #333;
}

.change {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.9em;
}

.change-important {
    color: #6610f2 !important;
    font-weight: bold;
}

.change-bugfix {
    color: #721c24;
}

.change-security {
    color: #ff0051;
    font-weight: bold;
}

.change-release,
.change-feature {
    color: #1c7430;
    font-weight: bold;
}