.page-container {
    padding-top: 44px;
}
typo3-universe {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
@media (max-width: 991.99px) {
    typo3-universe {
        position: fixed;
    }
    .main-header .main-header__bottom {
        top: 44px;
    }
    .main-nav__collapse {
        top: 100px;
        max-height: calc(100vh - 100px);
    }
}
@media (min-width: 992px) {
    typo3-universe {
        --universe-link-background: #ffffff;
        --universe-link-color: #212121;
        --universe-link-hover-background: #f2f2f2;
        --universe-link-hover-color: #212121;
        --universe-background-color: #ffffff;
        --universe-button-background: #f2f2f2;
        --universe-button-color: #212121;
        --universe-button-hover-background: #e2e2e2;
        --universe-button-hover-color: #212121;
        --universe-caret-color: #f49700;
        --universe-maxwidth: 1200px;
    }
}
