{% set sizeClass = 'default' %}
{% if small == 1 %}
    {% set sizeClass = 'small' %}
{% endif %}
<div id="carousel-visual" class="carousel carousel-{{ sizeClass }} carousel-fade slide pointer-event" data-interval="20000" data-wrap="true" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active carousel-item carousel-item-type carousel-item-type-text" data-itemno="0" style="background-color: #313131;">
            <div class="carousel-backgroundimage-container">
                <div id="carousel-backgroundimage-visual" class="carousel-backgroundimage carousel-backgroundimage-fade">
                    <style>#carousel-backgroundimage-visual { background-image: url('{{ asset("assets/Images/keyvisual.png") }}'); }</style>
                </div>
            </div>
            <div class="carousel-content">
                <div class="valign" style="color: #FFFFFF;">
                    <div class="vcontainer">
                        <div class="carousel-text-inner">
                            <div class="carousel-item-bodytext">
                                <h1 class="carousel-item-header none text-center">{{ title }}</h1>
                                <p class="mt-4 lead text-center">{{ subtitle }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
