<div class="container b_container b_container--large">
    <h2>Package Signatures - Verifying integrity of releases</h2>
    <p>
        TYPO3 Release Packages (the downloadable tarballs and zip files) as well as Git tags are signed
        using PGP signatures during the automated release process. Besides that, MD5 and SHA2-256 hashes are
        being generated for these files. Find more details on verifying signatures and hashes in the
        <a href="https://docs.typo3.org/typo3cms/drafts/github/TYPO3Incubator/InfrastructureGuide/Releases/">infrastructure guide</a>.
    </p>
</div>