<div class="frame frame-small frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">{{ title }}</span>
                    </div>
                    <select class="form-control b_form__select custom-select"
                            onchange="if (this.value) window.location.href= '{{ path('root') }}version/' + this.value;">
                        <option>Choose a different version</option>
                        <option value="10">TYPO3 v10</option>
                        <option value="9">TYPO3 v9</option>
                        <option value="8">TYPO3 v8</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
