<div class="container-fluid b_keyvisual">
    <img src="{{ path('root') }}assets/Gett3o/Assets/keyvisual_image.png" alt="" class="b_keyvisual__image">
    <div class="b_keyvisual__info">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
    </div>
</div>