{# Wrapper to extend the default layout within the project #}
{% extends '@Template/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/Css/additions.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block footer %}
    {% frame with { color: 'primary' } %}
        <p class="lead">
            Do you want to contribute to this website or report feedback?
        </p>
        <a class="btn btn-dark" href="https://github.com/TYPO3/get.typo3.org/issues" target="_blank" rel="noopener">
            Go to our GitHub repository
        </a>
    {% endframe %}
{% endblock %}
