{% frame with { id: 'release-notes', title: 'Release Notes' } %}
    <p>
        This document contains information about TYPO3 CMS {{ current.version }} which was
        released on {{ current.date|date("d.m.Y") }}.
    </p>
    <a href="{{ path('version', {'version': current.version }) }}" class="btn btn-primary">
        Get TYPO3 {{ current.version }} now
    </a>
{% endframe %}
