{% if current.releaseNotes.upgradingInstructions %}
    <div class="container b_container b_container--large">
        <h2>Upgrading</h2>
        {{ current.releaseNotes.upgradingInstructions|parsedown|raw }}
    </div>
{% endif %}