name: Workflow

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.2', '7.3']
    steps:
    - uses: actions/checkout@v1
    - name: Set up PHP Version
      run: |
        sudo update-alternatives --set php /usr/bin/php${{ matrix.php }}
        php -v
    - name: Update Composer
      run: |
        sudo composer self-update
        composer --version
    - name: Install
      run: |
        composer install
    - name: Lint
      run: |
        composer test:php:lint
    - name: Unit Tests
      run: |
        composer test:php:unit

