{% frame with { id: 'privacy', color: 'light', center: true, indent: true, title: 'We respect your Privacy!' } %}
    <p>
        We are not storing, sharing or doing any other crazy stuff with the
        data you provide to generate your very own sitepackage. Simple as
        that, check the <a class="" href="https://github.com/TYPO3/get.typo3.org" target="_blank" rel="noopener">sources</a>.
    </p>
{% endframe %}
